beautifulsoup4==4.14.3
bs4==0.0.2
duckdb==1.4.4
jupyterlab==4.5.3
numpy==2.4.2
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.0
plotly==6.5.2
seaborn==0.13.2
statsmodels==0.14.6
pandas==2.3.3
optuna==4.7.0
streamlit==1.55.0